*{
margin: 0%;
padding: 0%;
font-family: 'Poppins','sans-serif';
box-sizing: border-box;
}
body{
    background-color: #080808;
    color: skyblue;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    padding:10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 140px;
}
nav ul li {
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: skyblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
   content: '';
   width:0;
   height: 3px;
   background: #ff004f;
   position: absolute;
   left: 0;
   bottom: -6px ;
   transition: 0.5s;
}
nav ul li a :hover::after{
    width: 100%;
}
/* ---------------Home section-------------------- */
#home{
    display: flex;
    margin-top: 80px;
    margin:auto;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 90px;

}
#home>div{
    width: 40%;
}
#intro_section{
    width: 40%;
}

#resume_btn1>a:nth-child(1)>button{
padding: 6px;
padding-right: 13px;
padding-left: 13px;
font-size: 117%;
background-color: cornflowerblue;
border-radius: 6px;

}
#resume_btn1>a:nth-child(2)>button{
    padding: 6px;
    font-size: 117%;
    padding-right: 13px;
    padding-left: 13px;
    background-color: cornflowerblue;
    border-radius: 6px;
/* font-size: large; */
}

#intro_section>p{
   font-size: 200%;
}
#user-detail-name{
    font-size: 250%;
    margin-top: 20px;
    color: skyblue;
}
#user-detail-intro{
    font-size: 150%;
    margin-top: 20px;
}
#resume_btn1{
 margin-top: 20px;
}

/* ------------------About---------------------------------- */