* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: skyblue;
  font-family: "Roboto Condensed", sans-serif;
}
#headers {
  /* position: -webkit-sticky; */
  position: sticky;
  background-attachment: fixed;
  background-color: #3f51b5;
  top: 0;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: skyblue;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a :hover::after {
  width: 100%;
}

.nav-link resume > button {
  background-color: #ffc107;
}

/* ---------------Home section-------------------- */
#home {
  display: flex;
  margin-top: 80px;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 90px;
}
#home > div {
  width: 40%;
}
#intro_section {
  width: 40%;
}

#resume_btn1 > a:nth-child(1) > button {
  padding: 6px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 117%;
  background-color: cornflowerblue;
  border-radius: 6px;
}
#resume_btn1 > a:nth-child(2) > button {
  padding: 6px;
  font-size: 117%;
  padding-right: 13px;
  padding-left: 13px;
  background-color: cornflowerblue;
  border-radius: 6px;
  /* font-size: large; */
}

#intro_section > p {
  font-size: 200%;
}
#user-detail-name {
  font-size: 250%;
  margin-top: 20px;
  color: skyblue;
}
#user-detail-intro {
  font-size: 120%;
  margin-top: 20px;
}
#resume_btn1 {
  margin-top: 20px;
}

/* ------------------About---------------------------------- */

#aboutheading {
  text-align: center;
  font-size: 230%;
}
#about {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
}

.about_container {
  display: flex;
}
.about_container > div:nth-child(1) {
  width: 40%;
}
.about_container > div:nth-child(2) {
  width: 60%;
}

.about_buttons {
  text-align: center;
  margin-bottom: 5vh;
}
#intro_button {
  background-color: #ffc107;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
#experience_button {
  background-color: #ffc107;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.about_section img{
    border-radius: 15px;
}

.about_ex_projects{
  /* border:2px solid yellow; */
  display: flex;
  margin-top: 15vh;
  justify-content: space-around;
}
.about_ex_projects>div{
  /* border:2px solid rgb(96, 86, 156); */
  /* display: flex; */
  text-align: center;
  padding: 10px;
}
.about_ex_projects>div:nth-child(1){
  /* border:2px solid rgb(96, 86, 156); */
  width: 50%;
  /* display: flex; */
}
.about_ex_projects>div:nth-child(2){
  /* border:2px solid rgb(96, 86, 156); */
  /* display: flex; */
  width: 50%;
}

/* Project section...... */
.projectsection{
  margin-top: 15vh;
}
.project_container{
  display: grid;
  width: 80%;
  padding-top: 10vh;
  margin: auto;
  justify-content: space-evenly;
  grid-template-columns:repeat(2,1fr) ;
  gap: 40px; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project_container>div{
  background-color: #3f51b5;
  border-radius: 20px;
  padding: 15px;
  color: white;
}
#project_img{
 width: 100%;
 border-radius: 10px;
}
.project-title{
  text-align: center;
}

#project_descriptions{
  padding-left: 10px;
}

.project-github-link>button{
  text-align: center;
  align-items: center;
}
#deployed_container{
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}
#deployed_container>a{
  display: flex;
}
.project-github-link{
  margin-left: 5%;
}
.project-deployed-link{
  font-size: larger;
  margin-right: 6%;  
  text-decoration: none;
}
.project-deployed-link>button{
border-radius: 15px;
background-color: black;
color: white;
padding: 3px;
padding-left: 10px;
padding-right: 10px;
border: 3px solid;
}
.project-tech-stack{

}
#project_content{
  margin: 10px;
}

.fa {
  color: white
  }
/* skills section.... */
  #skills_container{
    width: 80%;
    margin: auto;
    margin-top: 20vh;
    display: grid;
    text-align: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .skills-card>img{
    width: 60%;
  }
  #skills_i_have{
    font-size: 230%; 
    text-align: center;
  }
  #skills{
    margin-top: 20vh;
  }

  /* github calenders... */


  #github_activity_calender{
    width: 80%;
    margin: auto;
  }
  .react-activity-calendar{
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  #githtext{
    font-size: 230%; 
    text-align: center;
    margin-bottom: 20vh;
  }

#react-activity-calendar{
  font-size: x-large;
}


/* contact  */
#contact{
  width: 80%;
  margin: auto;
}
.row{
display: flex;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}

.contact-left p {  
  margin-top: 35px;

}
.contact-left p i{  
  color: #ff004f;
  margin-top: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}
.social-icons {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.btn.btn2{
   display: inline-block;
   background-color: red;
}